
@font-face {
    font-family: 'Open Sans' sans-serif;
    src: url('../Font_Open_Sans/static/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


body {
   
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    background-color:#ffffff;
    font-family: 'Open Sans' sans-serif;
    color: #000000;
  }

  .heading{
    width: 276px;
    height: 52px;
    margin-top: 61px;
    margin-left: 474px;
    margin-bottom: 46px;

  }

  .main-container{
   width: 1224px;
  height: 752px;
  padding:20px;
 
  }
  
  .stages-1{
     width: 1094px;
     height: 62px;
     left: 48px;
     color: #212B36;
     margin-top: 46px;
     margin-left:48px;
     margin-right: 82px;

  }

    .stages-2{
     width: 1094px;
     height: 62px;
     left: 48px;
     color: #212B36;
     margin-top: 34px;
     margin-left:48px;
     margin-right: 82px;

   } 

   .stages-3{
   width: 1094px;
   height: 62px;
   left: 48px;
   color: #212B36;
   margin-top: 38px;
   margin-left:48px;
   margin-right: 82px;
              

   }

  .stages-4{
    width: 1094px;
    height: 62px;
    left: 48px;
    color: #212B36;
    margin-top: 30px;
    margin-left:48px;
    margin-right: 82px;
                  
   }   

                   
   .stages-5{
    width: 1094px;
    height: 62px;
    left: 48px;
    color: #212B36;
    margin-top: 38px;
    margin-left:48px;
    margin-right: 82px;
    }                       
  

  h2{
      font-family: Open Sans;
      font-weight: 600;
      font-size: 45px;
      line-height: 52px;
      letter-spacing: -3%;
      text-align: center;
      margin-top:5px;

  }
  h5{
      font-family: Open Sans;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -1%;

  }

  .stages-description{
      font-family: Open Sans;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
      margin-top: -29px;
      


  }
