
body{
    display: flex;
    justify-content: center;
    align-items:center;
     
}

.table-container {
    width: 100%;
    padding: 40px;
    
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
    word-wrap: break-word;

}


table ,th,td{
    /* border:1px solid #CCCCCC; */
    text-align: center;
    padding: 8px;
    word-wrap: break-word;
    white-space: normal;
   

}


th{
font-family: Open Sans;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.15px;
background-color: #E8E8E8;

}
 td{
   font-family: Open Sans;
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0.25px;

 }
 @font-face {
    font-family: 'Open Sans' ;
    src: url('../Font/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
   
    }


     /* for making  devices  responsive according to device's screen size */


  @media  (max-width: 768px) {

        body{
            display:flex;
            justify-content: center;
            align-items:center;
             
        }


        th{
            font-family: Open Sans;
            font-weight: 400;
            font-size: 12px;
            line-height: 10px;
            letter-spacing: 0.15px;
            
            }

            td{
                font-family: Open Sans;
                font-weight: 300;
                font-size: 10px;
                line-height: 16px;
               
              }
    }
  
    